import pytest
import math

from src.{name}.skeleton import sin, cos, tan, main

__author__ = "${author}"
__license__ = "${license}"

def test_sct():
    """API Tests"""
    assert sin(math.pi) == 0.0
    assert cos(math.pi) == -1.0
    assert tan(0) == 0.0
    with pytest.raises(AssertionError):
        sin(-10)


def test_main(capsys):
    """CLI Tests"""
    # capsys is a pytest fixture that allows asserts against stdout/stderr
    # https://docs.pytest.org/en/stable/capture.html
    main(["8"])
    captured = capsys.readouterr()
    assert f"The 8-th sin is 0.98935824662, The 8-th cos is -0.1455000338, The 8-th tan is -6.79971145522" in captured.out